<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% if @motivation.emotion_status == 0 %>
        <%= render 'motivations/motivations_template/positive' %>
        <div class="d-flex justify-content-around my-3">
          <%= link_to "新規作成", positive_new_motivations_path, class: "btn btn-outline-success" %>
        </div>
      <% elsif @motivation.emotion_status == 1 %>
        <%= render 'motivations/motivations_template/negative' %>
        <div class="d-flex justify-content-around my-3">
          <%= link_to "新規作成", negative_new_motivations_path, class: "btn btn-outline-secondary" %>
        </div>
      <% elsif @motivation.emotion_status == 2 %>
        <%= render 'motivations/motivations_template/to_do' %>
        <div class="d-flex justify-content-around my-3">
          <%= link_to "新規作成", to_do_new_motivations_path, class: "btn btn-outline-primary" %>
        </div>
      <% elsif @motivation.emotion_status == 3 %>
        <%= render 'motivations/motivations_template/want' %>
        <div class="d-flex justify-content-around my-3">
          <%= link_to "新規作成", want_new_motivations_path, class: "btn btn-outline-warning" %>
        </div>
      <% end %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          あなたのモチベーションのスイッチ
        </u>
      </h5>
      <p>
        自分が落ち込んだ時や元気が欲しい時<br>
        自分に何をしてあげたらいいのかわかるようになります
      </p>
      <p>
        それは自分の気持ちを上げるための処方箋のようなものです
      </p>
      <p>
        言葉や行動<br>
        考え方や見つめ直すことで<br>
        自分自身のモチベーションスイッチを入れてあげてください
      </p>
      <div class="cross-frame font-weight-bold">
        <h5 class="my-4">
          <u>
            <%= safe_join(@motivation.appetite.split("\n"),tag(:br)) %>
          </u>
        </h5>
        <p class="my-2">
          <%= safe_join(@motivation.memory.split("\n"),tag(:br)) %>
        </p>
      </div>
      <div class="d-flex justify-content-around">
        <%= link_to "一覧に戻る",motivations_path, class: "btn btn-info" %>
        <%= link_to "この記録を消す", motivation_path(@motivation.id), method: :delete,"data-confirm" =>"このモチベーションの記録を\n本当に消しますか？",  class: "btn btn-danger" %>
      </div>
    </div>

  </div>
</div>