<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <p>
        あなたのこれから達成していく目標を<br>
        教えていただきました
      </p>
      <p>
        目標を達成する過程で<br>
        目標を達成した先に<br>
        理想の未来が手に入ります
      </p>
      <p>
        ここが一つのスタートラインとなるのです
      </p>
      <p>
        大きな目標として<br>
        この目標を大事にしてください
      </p>
      <div class="danger-title-frame">
        <span>書き直すことはできません</span>
        <p>
          書き直すことも消すこともできません<br>
          間違いないことを改めて確認してください
        </p>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">

      <!--commitmentとpurposeが入力されている場合-->
      <% if session[:commitment].present? && session[:purpose].present? %>
      <h5 class="smart-frame">
        <u>
          <%= session[:commitment] %>
        </u>
      </h5>
      <div class="cross-frame font-weight-bold">
        <div>
          <%= safe_join(session[:purpose].split("\n"),tag(:br)) %>
        </div>
      </div>
      <p>
        これからこのアプリケーションを<br>
        使用していくにあたり
      </p>
      <p>
        他にも達成したい目標が出てくると思います
      </p>
      <p>
        目標を達成するために<br>
        ひとつひとつの目標も出てくるかもしれません
      </p>
      <p>
        その時には新たに目標を立ててください
      </p>
      <div class="d-flex justify-content-around my-3">
        <%= form_with model: @problem, url: problems_path, method: :post do |f| %>
          <%= f.submit '目標を決める', "data-confirm" =>"修正することができませんが\nこの目標でいいですか", class: "btn btn-outline-primary" %>
        <% end %>
        <% if !current_user.problems.present? %>
          <!--初めて目標を作成する場合-->
          <%= link_to '設定し直す', welcome_path, class: "btn btn-outline-info" %>
        <% else %>

          <!--2回目以降に目標を作成する場合-->
          <%= link_to '設定し直す', new_problem_path, class: "btn btn-outline-info" %>
        <% end %>

      </div>

      <!--commitmentとpurposeのどちらか、もしくは両方に空欄があった場合-->
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            目標の作成に失敗しました
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">
          <p>
            教えていただいた内容に<br>
            空欄があったみたいです
          </p>
          <p>
            これから叶えていく目標は<br>
            あなた自身が見つけていくものです<br>
            深く考える必要はありません
          </p>
          <p>
            ちょっとした気持ち<br>
            感情が動いた時<br>
            それはすでにあなたの中にあります
          </p>
          <p>
            あとはそれを<br>
            言葉にして形にするだけです
          </p>
        </div>
        <div class="d-flex justify-content-around my-3">
          <% if !current_user.problems.present? %>
            <%= link_to '目標を設定し直す', welcome_path, class: "btn btn-info" %>
          <% else %>
            <%= link_to '目標を設定し直す', new_problem_path, class: "btn btn-outline-info" %>
          <% end %>
        </div>
      <% end %>

    </div>

  </div>
</div>