<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">

      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-introduction-tab" data-toggle="tab" href="#nav-introduction" role="tab" aria-controls="nav-introduction" aria-selected="true">目標について</a>
          <a class="nav-item nav-link " id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--目標についてのタブ-->
        <div class="tab-pane fade show active" id="nav-introduction" role="tabpanel" aria-labelledby="nav-introduction-tab">
          <div class="smart-content text-center font-weight-bold mt-0">

            <% if current_user.problems.present? %>

              <!--２回目以降に目標を作成する場合のテキスト-->
              <p class="mt-1">
                目標は一つではなく<br>
                あなたの理想を見つける度に<br>
                あなたが挑戦をやめない限り
              </p>
              <p>
                ずっとあなたの目の前に現れます
              </p>

            <% else %>

              <!--初めて目標を作成する場合のテキスト-->
              <p class="mt-1">
                理想の自分になりたいと思う<br>
                目標を達成したいと思う
              </p>
              <p>
                あなたがこの手帳を手に取った<br>
                その理由が目標となります
              </p>
            <% end %>
            <p>
              目標の大きさはそれぞれであり<br>
              大小や難易度なんてものは<br>
              あなた自身が決めるものです
            </p>
            <p>
              その目標が他の人にとっては<br>
              とても大変なことであろうとも<br>
              達成できないと思われるようなことでも
            </p>
            <p>
              そして
            </p>
            <p>
              馬鹿にされるようなことであっても
            </p>
            <p>
              誰がなんと言おうと<br>
              達成したいと思えるならば<br>
              そんなことは大したことではありません
            </p>
            <p>
              あなたの心から渇望する目標となり<br>
              あなたの将来を達成するための目標です
            </p>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'users/keyword_show' %>
        </div>

      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <h5 class="smart-frame">
        <u>
          あなたが達成したいと思う<br>
          目標を教えて下さい
        </u>
      </h5>
      <p>
        これから理想を叶えていくにつれ<br>
        達成したい目標は多くなっていくでしょう
      </p>
      <p>
        その度に目標を作成していってください
      </p>
      <p>
        最終的に叶えたい目標が変わらなければ<br>
        何も問題はありません
      </p>
      <p>
        最終的に叶えたい目標を叶える頃には<br>
        その過程で得たものが<br>
        一生の大切なものになっています
      </p>
      <%= form_with model: @problem, url: confirm_problems_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.label :commitment, class: "font-weight-bold" %><br/>
          <%= f.text_field :commitment,autofocus: true,class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :purpose, class: "font-weight-bold" %><br/>
          <%= f.text_area :purpose,rows: "3",autofocus: true,class: "form-control" %>
        </div>
        <div class="d-flex justify-content-around my-3">
          <%= f.submit "次に進む",class: "btn btn-outline-primary" %>
          <% if current_user.problems.present? %>

            <!--２回目以降に目標を作成する場合-->
            <%= link_to '目標の作成をやめる', problems_path, class: "btn btn-outline-info" %>

          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>