<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5">
      <div class="card mb-4">
        <div class="card-header">
          <%= @problem.commitment %>
        </div>
        <div class="card-body">
          <%= safe_join(@problem.purpose.split("\n"),tag(:br)) %>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <%= form_with model: @problem, url: problem_path(@problem), method: :patch do |f| %>
            <div class="form-check form-check-inline">
              <%= f.radio_button :progress_status, Problem.progress_statuses.key(0), class: "form-check-input" %>
              <%= f.label :progress_statuses_i18n, Problem.progress_statuses_i18n[:progress], value: Problem.progress_statuses.key(0), class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :progress_status, Problem.progress_statuses.key(1), class: "form-check-input" %>
              <%= f.label :progress_statuses_i18n, Problem.progress_statuses_i18n[:finish], value: Problem.progress_statuses.key(1), class: "form-check-label" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :progress_status, Problem.progress_statuses.key(2), class: "form-check-input" %>
              <%= f.label :progress_statuses_i18n, Problem.progress_statuses_i18n[:pending], value: Problem.progress_statuses.key(2), class: "form-check-label" %>
            </div>
            <%= f.submit "保存する",class: "btn btn-secondary btn-sm" %>
          <% end %>
        </div>
      </div>
      <% if @problem.schedules.present? %>

        <!--目標の予定が作成されている場合-->
        <!--タブ表示機能-->
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active btn btn-outline-primary" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">未設定</a>
            <a class="nav-item nav-link btn btn-outline-success" id="nav-completion-tab" data-toggle="tab" href="#nav-completion" role="tab" aria-controls="nav-completion" aria-selected="false">完了</a>
            <a class="nav-item nav-link btn btn-outline-info" id="nav-imperfect-tab" data-toggle="tab" href="#nav-imperfect" role="tab" aria-controls="nav-imperfect" aria-selected="false">未完了</a>
            <a class="nav-item nav-link disabled btn btn-secondary">課題件数：<%= @problem.schedules.count %></a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <!--未設定の課題のタブ-->
          <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
            <h5 class="smart-frame">
              <u>
                未設定課題件数：<%= @problem.schedules.pending.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                詳細内容と日付が未入力な予定
              </p>
              <!--スクロール機能-->
              <div class="scroll-box">
                <ul class="list-group list-group-flush">
                  <% @problem.schedules.pending.each do |pending| %>
                    <% if @problem.progress_status == "progress" %>

                    <!--予定が進行中のみ予定の編集が可能とする-->
                      <%= link_to edit_schedule_path(pending), class: "btn btn-block btn-outline-primary my-1" do %>
                        <%= pending.title %>
                      <% end %>

                    <% else %>

                      <!--予定が進行中以外の場合は編集ができない-->
                        <li class="list-group-item list-group-item-primary">
                          <%= pending.title %>
                        </li>

                    <% end %>
                  <% end %>
               </ul>
              </div>

            </div>
          </div>

          <!--完了した課題のタブ-->
          <div class="tab-pane fade" id="nav-completion" role="tabpanel" aria-labelledby="nav-completion-tab">
            <h5 class="smart-frame">
              <u>
                完了課題件数：<%= @problem.schedules.completion.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                終わった予定
              </p>
              <!--スクロール機能-->
              <div class="scroll-box">
                <% @problem.schedules.completion.each do |completion| %>
                  <%= link_to schedule_path(completion.id), class: "btn btn-block btn-outline-success" do %>
                    <%= completion.title %><br>
                    <hr class="my-1">
                    <%= completion.start_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %><br>
                    〜<br>
                    <%= completion.end_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>

          <!--未完了の課題のタブ-->
          <div class="tab-pane fade" id="nav-imperfect" role="tabpanel" aria-labelledby="nav-imperfect-tab">
            <h5 class="smart-frame">
              <u>
                未完了課題件数：<%= @problem.schedules.imperfect.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                将来の予定
              </p>
              <!--スクロール機能-->
              <div class="scroll-box">
                <% @problem.schedules.imperfect.each do |imperfect| %>
                  <%= link_to schedule_path(imperfect.id), class: "btn btn-block btn-outline-info" do %>
                    <%= imperfect.title %><br>
                    <hr class="my-1">
                    <%= imperfect.start_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>

        </div>

      <% end %>
      <div class="d-flex justify-content-center">
        <%= link_to "目標一覧へ戻る",problems_path, class: "btn btn-info" %>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5">
      <% if params[:error] %>

      <!--メモの作成に失敗した場合-->
        <div class="masking-tape pt-3 m-4">
          <p>
            メモの作成に失敗しました
          </p>
          <p>
            目標を叶えるためにするべきことを<br>
            教えてください
          </p>
          <p>
            それは些細なことでも<br>
            簡単なことでも構いません
          </p>
        </div>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame mb-5">
          <u>
            目標を叶えるために<br>
            するべきことを教えてください
          </u>
        </h5>

      <% end %>
        <%= form_with model: [@problem,@mission],url: problem_missions_path(@problem), method: :post do |f| %>
          <div class="form-inline d-flex justify-content-center">
            <%= f.text_field :memo,class: "form-control" %>
            <%= f.submit "メモする",class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      <% if @problem.missions.present? %>

        <!--メモが作成されている場合-->
        <h5 class="smart-frame mt-5">
          <u>
            メモ件数：<%= @problem.missions.count %>
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">
          <!--スクロール機能-->
          <div class="scroll-box">
            <% @problem.missions.each do |mission| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <p>
                    <%= mission.memo %>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-around">
                    <%= link_to "課題にする", upload_problem_mission_path(@problem,mission), method: :post, class: "btn btn-outline-success" %>
                    <%= link_to "メモを破棄する", problem_mission_path(@problem,mission), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
              <% end %>
            </div>
          </div>
        <div class="d-flex justify-content-around">
          <%= link_to "全て課題にする", bulk_upload_problem_missions_path(@problem), method: :post, class: "btn btn-success" %>
          <%= link_to "メモを全て破棄する", bulk_destroy_problem_missions_path(@problem), method: :delete, class: "btn btn-danger" %>
        </div>

      <% end %>
    </div>

  </div>
</div>