<table class="table smart-frame p-3">
  <thead>
    <tr>
      <th colspan="2" scope="col">理想のキーワード</th>
    </tr>
  </thead>
  <tbody class="cross-frame font-weight-bold">
    <tr>
      <td><%= current_user.keyword_1 %></th>
      <td><%= current_user.keyword_2 %></td>
    </tr>
    <tr>
      <td><%= current_user.keyword_3 %></th>
      <td><%= current_user.keyword_4 %></td>
    </tr>
    <tr>
      <td><%= current_user.keyword_5 %></th>
      <td><%= current_user.keyword_6 %></td>
    </tr>
    <tr>
      <td><%= current_user.keyword_7 %></th>
      <td><%= current_user.keyword_8 %></td>
    </tr>
    <tr>
      <td><%= current_user.keyword_9 %></th>
      <td><%= current_user.keyword_10 %></td>
    </tr>
  </tbody>
</table>