<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <p>
        あなたの理想の示すキーワードを<br>
        教えていただきました
      </p>
      <p>
        これはあなたが自分を見つめる<br>
        自分のことを知っていくために必要であり
      </p>
      <p>
        あなたの理想が<br>
        迷子にならないように<br>
        挫けないように
      </p>
      <p>
        あなたの理想の指し示してくれます
      </p>
      <p>
        そのキーワードを大切に持っていってください
      </p>
      <p>
        目標や理想が少し変わってしまったとしても<br>
        目標を達成する<br>
        あなたのゴール地点には<br>
        このキーワードは全て持っているはずです
      </p>
      <div class="danger-title-frame">
        <span>書き直すことはできません</span>
        <p>
          書き直すことも消すこともできません<br>
          間違いないことを改めて確認してください
        </p>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <% if session[:first_keyword].present? && session[:second_keyword].present? && session[:third_keyword].present? && session[:fourth_keyword].present? && session[:fifth_keyword].present? && session[:sixth_keyword].present? && session[:seventh_keyword].present? && session[:eighth_keyword].present? && session[:ninth_keyword].present? && session[:tenth_keyword].present? %>

        <!--理想を示すキーワードの全てが入力されている場合-->
        <h5 class="smart-frame p-3">
          <u>
            理想のキーワード
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= session[:first_keyword] %></li>
            <li class="list-group-item"><%= session[:second_keyword] %></li>
            <li class="list-group-item"><%= session[:third_keyword] %></li>
            <li class="list-group-item"><%= session[:fourth_keyword] %></li>
            <li class="list-group-item"><%= session[:fifth_keyword] %></li>
            <li class="list-group-item"><%= session[:sixth_keyword] %></li>
            <li class="list-group-item"><%= session[:seventh_keyword] %></li>
            <li class="list-group-item"><%= session[:eighth_keyword] %></li>
            <li class="list-group-item"><%= session[:ninth_keyword] %></li>
            <li class="list-group-item"><%= session[:tenth_keyword] %></li>
          </ul>
        </div>
        <div class="d-flex justify-content-around">
          <%= form_with model: @user, url: keyword_update_user_path, method: :patch do |f|  %>
            <%= f.submit '次に進む',"data-confirm" =>"修正も削除もできませんが\n内容に間違いありませんか？", class: "btn btn-outline-primary" %>
          <% end %>
          <%= link_to welcome_path, "data-confirm" =>"本当にもう一度考え直す？", class: "btn btn-outline-info" do %>
            キーワードをやり直す
          <% end %>
        </div>

      <% else %>

      <!--mission_statementとmission_detailのどちらか、もしくは両方に空欄があった場合-->
        <h5 class="smart-frame bg-warning">
          <u>
            理想を示すキーワードの作成に<br>
            失敗しました
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">
          <p>
            教えていただいた内容に<br>
            空欄があったみたいです
          </p>
          <p>
            キーワードには<br>
            過去、今、未来のあなたを示しています<br>
            深く考える必要はありません
          </p>
          <p>
            大切にしている思いや行動<br>
            叶えたいと思う欲求<br>
            それはすでにあなたの中にあります
          </p>
          <p>
            あとはそれを<br>
            言葉にして形にするだけです
          </p>
        </div>
        <div class="d-flex justify-content-around my-3">
          <%= link_to welcome_path, class: "btn btn-info" do %>
            キーワードをやり直す
          <% end %>
        </div>

      <% end %>
    </div>

  </div>
</div>