<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <p>
        あなたにとっての生涯大切にしてることを<br>
        教えていただきました
      </p>
      <p>
        これは今までも守り続けてきたこと<br>
        これからも守り続け大事にしていくこと
      </p>
      <p>
        あなたの全てとも言えます
      </p>
      <p>
        迷ってしまった時<br>
        困った時<br>
        困難に立ち向かう時
      </p>
      <p>
        何かを選ぶときの一つの指針となります
      </p>
      <div class="danger-title-frame">
        <span>書き直すことはできません</span>
        <p>
          書き直すことも<br>
          消すこともできません<br>
          間違いないことを<br>
          改めて確認してください
        </p>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <% if session[:first_keyword].present? && session[:second_keyword].present? && session[:third_keyword].present? && session[:fourth_keyword].present? && session[:fifth_keyword].present? && session[:sixth_keyword].present? && session[:seventh_keyword].present? && session[:eighth_keyword].present? && session[:ninth_keyword].present? && session[:tenth_keyword].present? %>

        <!--理想を示すキーワードの全てが入力されている場合-->
        <h5 class="smart-frame p-3">
          <u>
            理想のキーワード
          </u>
        </h5>
        <table class="table">
          <tbody class="cross-frame font-weight-bold">
            <tr>
              <td><%= session[:first_keyword] %></th>
              <td><%= session[:second_keyword] %></td>
            </tr>
            <tr>
              <td><%= session[:third_keyword] %></th>
              <td><%= session[:fourth_keyword] %></td>
            </tr>
            <tr>
              <td><%= session[:fifth_keyword] %></th>
              <td><%= session[:sixth_keyword] %></td>
            </tr>
            <tr>
              <td><%= session[:seventh_keyword] %></th>
              <td><%= session[:eighth_keyword] %></td>
            </tr>
            <tr>
              <td><%= session[:ninth_keyword] %></th>
              <td><%= session[:tenth_keyword] %></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-around my-3">
          <%= form_with model: @user, url: keyword_update_user_path, method: :patch do |f|  %>
            <%= f.submit '次に進む',"data-confirm" =>"修正も削除もできませんが\n内容に間違いありませんか？", class: "btn btn-outline-primary" %>
          <% end %>
          <%= link_to welcome_path, "data-confirm" =>"本当にもう一度考え直す？", class: "btn btn-outline-info" do %>
            キーワードをやり直す
          <% end %>
        </div>

      <!--mission_statementとmission_detailのどちらか、もしくは両方に空欄があった場合-->
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想を示すキーワードの作成に<br>
            失敗しました
          </u>
        </h5>
        <p>
          教えていただいた内容に<br>
          空欄があったみたいです
        </p>
        <p>
          キーワードには<br>
          過去、今、未来のあなたを示しています<br>
          深く考える必要はありません
        </p>
        <p>
          大切にしている思いや行動<br>
          叶えたいと思う欲求<br>
          それはすでにあなたの中にあります
        </p>
        <p>
          あとはそれを<br>
          言葉にして形にするだけです
        </p>
        <div class="d-flex justify-content-around my-3">
          <%= link_to welcome_path, class: "btn btn-info" do %>
            キーワードをやり直す
          <% end %>
        </div>
      <% end %>

    </div>

  </div>
</div>