<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <p>
        理想を追求していくにあたって<br>
        なりたい自分というものを知りましょう
      </p>
      <p>
        あなたにとってのなりたい自分とはなんでしょう
      </p>
      <p>
        思い浮かぶ人がいますか<br>
        思い浮かぶ行動がありますか
      </p>
      <p>
        憧れる立ち振る舞いはありますか<br>
        憧れる生き方はありますか
      </p>
      <p>
        反対にこうなりたくない<br>
        これだけはしたくない<br>
        ということはありますか
      </p>
      <p>
        はっきりとわかっている自分の理想
      </p>
      <p>
        まだはっきりとはわかっていない自分の理想
      </p>
      <p>
        まずは自分の理想を示すキーワードを<br>
        探してみましょう
      </p>
      <p>
        すぐに思いつかないのであれば<br>
        連想ゲームのように考えてみましょう
      </p>
      <p>
        理想の自分といったら〇〇<br>
        〇〇といったら・・・<br>
        という感じに考えてみるといいでしょう
      </p>
      <p>
        ただ思いつくままに教えて下さい
      </p>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <h5 class="smart-frame">
        <u>
          あなたの理想を示すキーワード<br>
          10個教えて下さい
        </u>
      </h5>
      <p>
        あなた自身を示し<br>
        あなたの未来を想像してくれます
      </p>
      <p>
        目標も理想も<br>
        あなたのなかにいるのだから
      </p>
      <%= form_with model: @user, url: keyword_confirm_user_path, method: :get do |f| %>
        <ul class="list-group list-group-flush">
          <%= f.text_field :first_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :second_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :third_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :fourth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :fifth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :sixth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :seventh_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :eighth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :ninth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.text_field :tenth_keyword, autofocus: true, class: "form-control list-group-item" %>
          <%= f.submit "次に進む", class: "btn btn-outline-primary list-group-item" %>
        </ul>
      <% end %>
    </div>

  </div>
</div>