<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">


      <!--タブ表示機能-->
      <nav>
        <div class="nav nav-tabs strip-paper" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active btn btn-outline-info" id="nav-introduction-tab" data-toggle="tab" href="#nav-introduction" role="tab" aria-controls="nav-introduction" aria-selected="true">自分の指針</a>
          <a class="nav-item nav-link btn btn-outline-primary" id="nav-keyword-tab" data-toggle="tab" href="#nav-keyword" role="tab" aria-controls="nav-keyword" aria-selected="false">キーワード</a>
          <a class="nav-item nav-link btn btn-outline-secondary" id="nav-first_sample-tab" data-toggle="tab" href="#nav-first_sample" role="tab" aria-controls="nav-first_sample" aria-selected="false">ことわざ1</a>
          <a class="nav-item nav-link btn btn-outline-secondary" id="nav-second_sample-tab" data-toggle="tab" href="#nav-second_sample" role="tab" aria-controls="nav-second_sample" aria-selected="false">ことわざ2</a>
          <a class="nav-item nav-link btn btn-outline-secondary" id="nav-third_sample-tab" data-toggle="tab" href="#nav-third_sample" role="tab" aria-controls="nav-third_sample" aria-selected="false">ことわざ3</a>
          <a class="nav-item nav-link btn btn-outline-secondary" id="nav-fourth_sample-tab" data-toggle="tab" href="#nav-fourth_sample" role="tab" aria-controls="nav-fourth_sample" aria-selected="false">ことわざ4</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <!--自分の指針のタブ-->
        <div class="tab-pane fade show active" id="nav-introduction" role="tabpanel" aria-labelledby="nav-introduction-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <p class="mt-1">
              人生における<br>
              これだけは大切にしていること
            </p>
            <p>
              たとえ何があったとしても<br>
              あなたの行動において<br>
              これだけは何があっても守り通したいこと
            </p>
            <p>
              あなたの中の人生の指針となる<br>
              考えや思いを教えてください
            </p>
            <p>
              キーワードやことわざがあります
            </p>
            <p>
              キーワード<br>
              それはあなたの未来を示す言葉
            </p>
            <p>
              ことわざはあなたの<br>
              大切にしている指針を形にしたものです
            </p>
          </div>
        </div>

        <!--キーワードのタブ-->
        <div class="tab-pane fade" id="nav-keyword" role="tabpanel" aria-labelledby="nav-keyword-tab">
          <%= render 'keyword_show' %>
        </div>

        <!--ことわざ1のタブ-->
        <div class="tab-pane fade" id="nav-first_sample" role="tabpanel" aria-labelledby="nav-first_sample-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <h5 class="mt-1">
              <u>
                人に優しく自分に厳しく
              </u>
            </h5>
            <p class="dotted-square-brackets">
              周りに優しく対応することを心がけ<br>
              自分に厳しく成長できることを行う
            </p>
            <h5 class="mt-5">
              <u>
                情けは人の為ならず
              </u>
            </h5>
            <p class="dotted-square-brackets">
              人に尽くすことは<br>
              周りに回って自分に返ってくるので<br>
              自分のためでもある
            </p>
            <h5 class="mt-5">
              <u>
                道理に向かう刃無し
              </u>
            </h5>
            <p class="dotted-square-brackets">
              人として正しい行動が最も重要な基準である
            </p>
            <h5 class="mt-5">
              <u>
                自慢高慢(じまんこうまん)馬鹿のうち
              </u>
            </h5>
            <p class="dotted-square-brackets">
              自慢する人や高慢な人はバカ者と同じである
            </p>
          </div>
        </div>

        <!--ことわざ2のタブ-->
        <div class="tab-pane fade" id="nav-second_sample" role="tabpanel" aria-labelledby="nav-second_sample-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <h5 class="mt-1">
              <u>
                井の中の蛙大海を知らず
              </u>
            </h5>
            <p class="dotted-square-brackets">
              自分の狭い視野や考えに囚われてはいけない
            </p>
            <h5 class="mt-5">
              <u>
                何かを求める前に<br>
                自分は何ができるかを考える
              </u>
            </h5>
            <p class="dotted-square-brackets">
              他が自分に何かしてくれると期待する前に<br>
              自分が何をできるかを考えることが大切
            </p>
            <h5 class="mt-5">
              <u>
                艱難(かんなん)汝を玉にす
              </u>
            </h5>
            <p class="dotted-square-brackets">
              人は苦労してこそ立派になる<br>
              この苦労が自分の糧になる
            </p>
            <h5 class="mt-5">
              <u>
                縁の下の力持ち
              </u>
            </h5>
            <p class="dotted-square-brackets">
              人の目に付かないところで<br>
              陰で努力をしている人
            </p>
          </div>
        </div>

        <!--ことわざ3のタブ-->
        <div class="tab-pane fade" id="nav-third_sample" role="tabpanel" aria-labelledby="nav-third_sample-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <h5 class="mt-1">
              <u>
                一念天に通ず
              </u>
            </h5>
            <p class="dotted-square-brackets">
              何事も成し遂げようとする強い信念があれば<br>
              天に通じて実現できる
            </p>
            <h5 class="mt-5">
              <u>
                天は自ら助くる者を助く
              </u>
            </h5>
            <p class="dotted-square-brackets">
              人に依存せず<br>
              自ら頑張る人を神様は応援する
            </p>
            <h5 class="mt-5">
              <u>
                仕事は全て時を定めて成すべし
              </u>
            </h5>
            <p class="dotted-square-brackets">
              自分自身の規律や<br>
              ルールを設定することが大切
            </p>
            <h5 class="mt-5">
              <u>
                思い立ったが吉日
              </u>
            </h5>
            <p class="dotted-square-brackets">
              何かをしようと思い立ったら<br>
              まさにその日にすぐに取りかかるのが良い
            </p>
          </div>
        </div>

        <!--ことわざ4のタブ-->
        <div class="tab-pane fade" id="nav-fourth_sample" role="tabpanel" aria-labelledby="nav-fourth_sample-tab">
          <div class="smart-content text-center font-weight-bold mt-0">
            <h5 class="mt-1">
              <u>
                狭き門より入れ
              </u>
            </h5>
            <p class="dotted-square-brackets">
              物事をなすときは簡単な道ではなく<br>
              困難な道を選んだほうが良い結果になる
            </p>
            <h5 class="mt-5">
              <u>
                習慣は第二の天性なり
              </u>
            </h5>
            <p class="dotted-square-brackets">
              身についた習慣は<br>
              いつかは生まれつきの性質のようになる
            </p>
            <h5 class="mt-5">
              <u>
                雨垂石を穿つ
              </u>
            </h5>
            <p class="dotted-square-brackets">
              どんなに小さな力でも<br>
              根気よく続けていればいつか成果が得られる
            </p>
            <h5 class="mt-5">
              <u>
                小事に拘わりて大事を忘るな
              </u>
            </h5>
            <p class="dotted-square-brackets">
              目先の小さなことに気を取られて<br>
              大事なことを忘れるな
            </p>
          </div>
        </div>
      </div>

    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <h5 class="smart-frame">
        <u>
          あなたの人生の指針<br>
          守りたい思いを教えて下さい
        </u>
      </h5>
      <p>
        これまでの生き方<br>
        これまでの考え方
      </p>
      <p>
        どういった性格で<br>
        何を大事にしてきたのか
      </p>
      <p>
        そしてそれは</br>
        どういう考えを持っていたのか
      </p>
      <p>
        それはあなたの中にあります
      </p>
      <%= form_with model: @user, url: mission_statement_confirm_user_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.label :mission_statement, class: "font-weight-bold" %><br />
          <%= f.text_area :mission_statement,rows: "2",autofocus: true,class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :mission_statement_detail, class: "font-weight-bold" %><br />
          <%= f.text_area :mission_statement_detail,rows: "3",autofocus: true,class: "form-control" %>
        </div>
        <%= f.submit '次に進む',class: "btn btn-outline-primary" %>
      <% end %>
    </div>

  </div>
</div>