<!--左のページ-->
<div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
  <div>
    <h5 class="smart-frame mb-5">
      <u>
        どの目標に対する予定か<br>
        選んでください
      </u>
    </h5>
  </div>
  <!--スクロール機能-->
  <div class="scroll-radio-buttons">
    <%= f.collection_radio_buttons(:problem_id, problems, :id, :commitment) do |b| %>
      <div class="masking-tape custom-control custom-radio">
        <%= b.radio_button(required: true, class: "custom-control-input") %>
        <%= b.label(class: "custom-control-label") %>
      </div>
    <% end %>
  </div>
</div>

<!--右のページ-->
<div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
  <div class="form-group">
    <%= f.label :title, class: "smart-frame h5" %>
    <%= f.text_field :title, required: true, class: "form-control" %>
  </div>
  <div class="form-group input-group-prepend">
    <%= f.label :start_datetime, class: "input-group-text" %>
    <%= f.datetime_field :start_datetime, required: true, class: 'form-control' %>
  </div>
  <div class="form-group input-group-prepend">
    <%= f.label :end_datetime, class: "input-group-text" %>
    <%= f.datetime_field :end_datetime, required: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, class: "smart-frame h5" %>
    <%= f.text_area :body,rows: "3", class: "form-control" %>
  </div>
  <div>
    <%= f.submit "登録", class: "btn btn-outline-primary px-5" %>
  </div>
</div>