<div class="container-fluid">
  <% if params[:error] %>

    <!--予定作成に失敗した場合のエラー文-->
    <div class="row justify-content-center open-book my-5 py-3">

      <!--左のページ-->
      <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
        <h5 class="smart-frame bg-warning">
          <u>
            予定の作成に失敗しました
          </u>
        </h5>
        <%= render 'left_error' %>
      </div>

      <!--右のページ-->
      <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
        <%= render 'right_error' %>
        <div class="d-flex justify-content-around">
          <%= link_to "もう一度予定を作成する", new_schedule_path, class: "btn btn-primary" %>
          <%= link_to "カレンダーに戻る", schedules_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>

  <% else %>

    <%= form_with model: @schedule,url: schedules_path, method: :post, class: "row justify-content-center open-book my-5 py-3" do |f| %>
      <%= render :partial =>'form', :locals => { :f => f, problems: @problems } %>
    <% end %>

  <% end %>
</div>