<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          <% if @schedule.problem.progress_status == "finish" %>
            達成した目標の予定詳細
          <% elsif @schedule.problem.progress_status == "pending" %>
            保留にした目標の予定詳細
          <% else %>
            目標詳細
          <% end %>
        </u>
      </h5>
      <div class="card">
        <div class="card-header">
          <%= @schedule.problem.commitment %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @schedule.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= @schedule.start_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %><br>
            〜<br>
            <%= @schedule.end_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %>
          </h6>
          <p class="card-text">
            <%= safe_join(@schedule.body.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>

      <% if @schedule.plans.programme.present? %>
        <h5>ToDoリスト</h5>
        <p>リスト件数：<%= @schedule.plans.programme.count %></p>

        <!--タブ表示機能-->
        <nav>
          <div class="nav nav-tabs strip-paper" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-introduction-tab" data-toggle="tab" href="#nav-introduction" role="tab" aria-controls="nav-introduction" aria-selected="true">使い方</a>
            <a class="nav-item nav-link" id="nav-programme-tab" data-toggle="tab" href="#nav-programme" role="tab" aria-controls="nav-programme" aria-selected="false">全て</a>
            <a class="nav-item nav-link" id="nav-emergency-tab" data-toggle="tab" href="#nav-emergency" role="tab" aria-controls="nav-emergency" aria-selected="false">大事なこと</a>
            <a class="nav-item nav-link" id="nav-important-tab" data-toggle="tab" href="#nav-important" role="tab" aria-controls="nav-important" aria-selected="false">重要なこと</a>
            <a class="nav-item nav-link" id="nav-interruption-tab" data-toggle="tab" href="#nav-interruption" role="tab" aria-controls="nav-interruption" aria-selected="false">やるべきこと</a>
            <a class="nav-item nav-link" id="nav-eliminate-tab" data-toggle="tab" href="#nav-eliminate" role="tab" aria-controls="nav-eliminate" aria-selected="false">辞めること</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <!--使い方のタブ-->
          <div class="tab-pane fade show active" id="nav-introduction" role="tabpanel" aria-labelledby="nav-introduction-tab">
            <div class="smart-content text-center font-weight-bold">
              <h3>ToDoリストの使い方</h3>
            </div>
            <div class="font-weight-bold scroll-box">
              <p>全てには全てのタスクが入っています</p>
              <p>
                <u>大事なこと</u><br>
                必須のタスクとなります<br>
                必ず実行しないといけない活動です
              </p>
              <p>
                <u>重要なこと</u><br>
                生産性、効果性のタスクとなります<br>
                長い時間軸で考えた時に<br>
                大事なことタスクが減る為の準備を<br>
                このタスクでしてください
              </p>
              <p>
                <u>やるべきこと</u><br>
                錯覚のタスクとなります<br>
                ここのタスクに時間を使っていても<br>
                生産性が上がらないため<br>
                大事なことタスクや重要なことタスクが<br>
                減ることはありません
              </p>
              <p>
                <u>辞めるべきこと</u><br>
                浪費・過剰のタスクとなります<br>
                暇つぶしや時間の浪費<br>
                無意味で時間の無駄遣いといえる活動です<br>
                無駄な1日を過ごしてしまったと<br>
                思われるような行動のタスクです<br>
                行わないことを大事にしてください<br>
              </p>
              <p>
                選択する項目には進捗を表してます
              </p>
              <p>
                進捗を選択して達成状況を更新してください<br>
                未完了 : 未だ行動を起こしていないタスクです<br>
                完了 : 達成したタスクです<br>
                進行中 : 現在取り組んでいるタスクです<br>
                先送り : 後で行う予定にしているタスクです<br>
                辞める : 取り組まないタスクです
              </p>
              <p>
                <u>
                  タスクを全て完了、もしくは辞めるにして<br>
                  予定を完遂できるようにしましょう
                </u>
              </p>
            </div>
          </div>

          <!--全て表示するタブ-->
          <div class="tab-pane fade" id="nav-programme" role="tabpanel" aria-labelledby="nav-programme-tab">
            <%= form_with model: @schedule, url: all_update_schedule_path(@schedule.id), method: :patch do |f| %>
              <ul class="list-group list-group-flush scroll-box">
                <%= f.fields_for :plans do |af| %>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col align-self-center">
                          <%= af.text_field :challenge, disabled: true,class: "form-control" %>
                          <%= af.select :priority_status, Plan.priority_statuses.keys.map {|k| [I18n.t("enums.plan.priority_status.#{k}"), k]}, class: "form-control" %>
                        </div>
                        <div class="col">
                          <div class="form-group mb-0">
                            <%= af.radio_button :progress_status, Plan.progress_statuses.key(0), class: "form-check-input"  %>
                            <%= af.label :progress_status_unstarted, Plan.progress_statuses_i18n[:unstarted], class: "form-check-label" %>
                          </div>
                          <div class="form-group mb-0">
                            <%= af.radio_button :progress_status, Plan.progress_statuses.key(1), class: "form-check-input"  %>
                            <%= af.label :progress_status_finish, Plan.progress_statuses_i18n[:finish], class: "form-check-label" %>
                          </div>
                          <div class="form-group mb-0">
                            <%= af.radio_button :progress_status, Plan.progress_statuses.key(2), class: "form-check-input"  %>
                            <%= af.label :progress_status_process, Plan.progress_statuses_i18n[:process], class: "form-check-label" %>
                          </div>
                          <div class="form-group mb-0">
                            <%= af.radio_button :progress_status, Plan.progress_statuses.key(3), class: "form-check-input"  %>
                            <%= af.label :progress_status_postpone, Plan.progress_statuses_i18n[:postpone], class: "form-check-label" %>
                          </div>
                          <div class="form-group mb-0">
                            <%= af.radio_button :progress_status, Plan.progress_statuses.key(4), class: "form-check-input"  %>
                            <%= af.label :progress_status_withdraw, Plan.progress_statuses_i18n[:withdraw], class: "form-check-label" %>
                          </div>
                        </div>
                      </div>
                    </li>

                <% end %>
              </ul>
              <%= f.submit "更新する",class: "btn btn-success" %>
            <% end %>
          </div>

          <!--大事なことのタブ-->
          <div class="tab-pane fade" id="nav-emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
            <p>大事なこと件数：<%= @schedule.plans.emergency.count %></p>
            <ul class="list-group list-group-flush scroll-box">
              <% @schedule.plans.emergency.each do |emergency| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= emergency.challenge %>
                  </p>
                  <p>
                    <%= emergency.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(@schedule,emergency.id), method: :delete, class: "btn btn-outline-danger" %>
                </li>
               <% end %>
            </ul>
          </div>

          <!--重要なことのタブ-->
          <div class="tab-pane fade" id="nav-important" role="tabpanel" aria-labelledby="nav-important-tab">
            <p>重要なこと件数：<%= @schedule.plans.important.count %></p>
            <ul class="list-group list-group-flush scroll-box">
              <% @schedule.plans.important.each do |important| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= important.challenge %>
                  </p>
                  <p>
                    <%= important.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(@schedule,important.id), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              <% end %>
            </ul>
          </div>

          <!--やるべきことのタブ-->
          <div class="tab-pane fade" id="nav-interruption" role="tabpanel" aria-labelledby="nav-interruption-tab">
            <p>やるべきこと件数：<%= @schedule.plans.interruption.count %></p>
            <ul class="list-group list-group-flush scroll-box">
              <% @schedule.plans.interruption.each do |interruption| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= interruption.challenge %>
                  </p>
                  <p>
                    <%= interruption.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(@schedule,interruption.id), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              <% end %>
            </ul>
          </div>

          <!--辞めることのタブ-->
          <div class="tab-pane fade" id="nav-eliminate" role="tabpanel" aria-labelledby="nav-eliminate-tab">
            <p>辞めること：<%= @schedule.plans.eliminate.count %></p>
            <ul class="list-group list-group-flush scroll-box">
              <% @schedule.plans.eliminate.each do |eliminate| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= eliminate.challenge %>
                  </p>
                  <p>
                    <%= eliminate.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(@schedule,eliminate), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      <% end %>
      <div class="d-flex justify-content-around my-3">
        <%= link_to "予定を編集する", edit_schedule_path(@schedule.id), class: "btn btn-secondary" %>
        <%= link_to "予定を削除する", schedule_path(@schedule.id),method: :delete,"data-confirm" =>"削除して本当にいいですか？",class: "btn btn-warning" %>
        <%= link_to "カレンダーに戻る", schedules_path, class: "btn btn-info" %>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">

      <% unless params[:error] %>
        <h5 class="smart-frame mb-5">
          <u>
            予定を達成するために<br>
            するべきことを教えてください
          </u>
        </h5>

      <!--planの作成に失敗した場合-->
      <% else %>
        <div class="masking-tape pt-3 m-4">
          <p>
            提案の作成に失敗しました
          </p>
          <p>
            予定を達成するためにするべきことを<br>
            教えてください
          </p>
          <p>
            それは些細なことでも<br>
            簡単なことでも構いません
          </p>
        </div>

      <% end %>
      <%= form_with model: [@schedule,@plan], url: schedule_plans_path(@schedule.id), method: :post do |f| %>
        <div class="form-inline justify-content-center">
          <%= f.text_field :challenge, class: "form-control" %>
          <%= f.submit "提案する", class: "btn btn-secondary btn-sm" %>
        </div>
      <% end %>

      <% if @schedule.plans.memo.present? %>
        <h5 class="smart-frame my-4">
          <u>
            提案件数：<%= @schedule.plans.memo.count %>
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">

          <!--スクロール機能-->
          <div class="scroll-box">
            <% @schedule.plans.memo.each do |plan| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <p>
                    <%= plan.challenge %>
                  </p>
                </li>
                <li class="list-group-item list-group-horizontal">
                  <%= link_to "リストにする", upload_schedule_plan_path(@schedule,plan), method: :patch, class: "btn btn-outline-success" %>
                  <%= link_to "破棄する", schedule_plan_path(@schedule,plan), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-around my-3">
          <%= link_to "全てリストに保存する", bulk_upload_schedule_plans_path(@schedule.id), method: :patch, class: "btn btn-success"  %>
          <%= link_to "全て破棄する", bulk_destroy_schedule_plans_path(@schedule.id), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>

  </div>
</div>