<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column">
      <h5 class="smart-frame">
        <u>
          <% if @schedule.problem.progress_status == "finish" %>
            達成した目標の予定詳細
          <% elsif @schedule.problem.progress_status == "pending" %>
            保留にした目標の予定詳細
          <% else %>
            進行中の目標の予定詳細
          <% end %>
        </u>
      </h5>
      <div class="card">
        <%= link_to problem_path(@schedule.problem_id),class: "btn btn-block btn-link card-header" do %>
          <%= @schedule.problem.commitment %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @schedule.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= @schedule.start_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %><br>
            〜<br>
            <%= @schedule.end_datetime.strftime("%Y年%-m月%-d日%-H時%M分") %>
          </h6>
          <p class="card-text">
            <%= safe_join(@schedule.body.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>

      <% if @schedule.plans.programme.present? %>

        <!--予定のタスクが稼働状態になっている場合-->
        <!--タブ表示機能-->
        <nav>
          <div class="nav nav-tabs strip-paper" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active btn btn-outline-primary" id="nav-programme-tab" data-toggle="tab" href="#nav-programme" role="tab" aria-controls="nav-programme" aria-selected="true">全てのリスト</a>
            <a class="nav-item nav-link btn btn-outline-success" id="nav-emergency-tab" data-toggle="tab" href="#nav-emergency" role="tab" aria-controls="nav-emergency" aria-selected="false">大事なこと</a>
            <a class="nav-item nav-link btn btn-outline-info" id="nav-important-tab" data-toggle="tab" href="#nav-important" role="tab" aria-controls="nav-important" aria-selected="false">重要なこと</a>
            <a class="nav-item nav-link btn btn-outline-warning" id="nav-interruption-tab" data-toggle="tab" href="#nav-interruption" role="tab" aria-controls="nav-interruption" aria-selected="false">やるべきこと</a>
            <a class="nav-item nav-link btn btn-outline-danger" id="nav-eliminate-tab" data-toggle="tab" href="#nav-eliminate" role="tab" aria-controls="nav-eliminate" aria-selected="false">辞めること</a>
            <a class="nav-item nav-link disabled btn btn-secondary">リスト件数：<%= @schedule.plans.programme.count %>件</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <!--全て表示するタブ-->
          <div class="tab-pane fade  show active" id="nav-programme" role="tabpanel" aria-labelledby="nav-programme-tab">
            <%= form_with model: @schedule, url: all_update_schedule_path(@schedule.id), method: :patch do |f| %>
              <h5 class="smart-frame">
                <u>
                  全てのToDoリスト
                </u>
              </h5>
              <div class="cross-frame font-weight-bold">
                <p>
                  <u>優先順位と進捗状況</u>を変更して管理<br>
                  全てのタスクが完了になるよう<br>
                  努めてください
                </p>
                <!--スクロール機能-->
                <div class="scroll-box">
                  <ul class="list-group list-group-flush">
                    <%= f.fields_for :plans, @schedule.plans.programme do |af| %>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col align-self-center">
                            <%= af.text_field :challenge, disabled: true,class: "form-control" %>
                            <%= af.select :priority_status, Plan.priority_statuses.keys.map {|k| [I18n.t("enums.plan.priority_status.#{k}"), k]}, class: "form-control badge badge-info badge-pill strip-text" %>
                          </div>
                          <div class="col">
                            <div class="form-group mb-0">
                              <%= af.radio_button :progress_status, Plan.progress_statuses.key(0), class: "form-check-input"  %>
                              <%= af.label :progress_status_unstarted, Plan.progress_statuses_i18n[:unstarted], class: "form-check-label" %>
                            </div>
                            <div class="form-group mb-0">
                              <%= af.radio_button :progress_status, Plan.progress_statuses.key(1), class: "form-check-input"  %>
                              <%= af.label :progress_status_finish, Plan.progress_statuses_i18n[:finish], class: "form-check-label" %>
                            </div>
                            <div class="form-group mb-0">
                              <%= af.radio_button :progress_status, Plan.progress_statuses.key(2), class: "form-check-input"  %>
                              <%= af.label :progress_status_process, Plan.progress_statuses_i18n[:process], class: "form-check-label" %>
                            </div>
                            <div class="form-group mb-0">
                              <%= af.radio_button :progress_status, Plan.progress_statuses.key(3), class: "form-check-input"  %>
                              <%= af.label :progress_status_postpone, Plan.progress_statuses_i18n[:postpone], class: "form-check-label" %>
                            </div>
                            <div class="form-group mb-0">
                              <%= af.radio_button :progress_status, Plan.progress_statuses.key(4), class: "form-check-input"  %>
                              <%= af.label :progress_status_withdraw, Plan.progress_statuses_i18n[:withdraw], class: "form-check-label" %>
                            </div>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <%= f.submit "更新する",class: "btn btn-success my-3" %>
              </div>
            <% end %>
          </div>

          <!--大事なことのタブ-->
          <div class="tab-pane fade" id="nav-emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
            <h5 class="smart-frame">
              <u>
                大事なこと件数：<%= @schedule.plans.emergency.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                <u>大事なこと</u><br>
                必須のタスク<br>
                必ず実行しないといけない活動
              </p>
              <!--スクロール機能-->
              <div class="scroll-box">
                <ul class="list-group">
                  <% @schedule.plans.emergency.each do |emergency| %>
                    <li class="list-group-item d-flex align-items-center">
                      <%= emergency.challenge %>
                      <span class="badge badge-success badge-pill strip-text ml-auto mr-3"><%= emergency.progress_status_i18n %></span>
                      <%= link_to "削除する", schedule_plan_path(@schedule,emergency.id), method: :delete, class: "strip-text badge badge-danger badge-pill" %>
                    </li>
                   <% end %>
                </ul>
              </div>
            </div>
          </div>

          <!--重要なことのタブ-->
          <div class="tab-pane fade" id="nav-important" role="tabpanel" aria-labelledby="nav-important-tab">
            <h5 class="smart-frame">
              <u>
                重要なこと件数：<%= @schedule.plans.important.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                <u>重要なこと</u><br>
                生産性、効果性のタスク<br>
                大事なことタスクを減らす活動
              </p>
              <div class="scroll-box">
                <ul class="list-group">
                  <% @schedule.plans.important.each do |important| %>
                    <li class="list-group-item d-flex align-items-center">
                      <%= important.challenge %>
                      <span class="badge badge-info badge-pill strip-text ml-auto mr-3"><%= important.progress_status_i18n %></span>
                      <%= link_to "削除する", schedule_plan_path(@schedule,important.id), method: :delete, class: "strip-text badge badge-danger badge-pill" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <!--やるべきことのタブ-->
          <div class="tab-pane fade" id="nav-interruption" role="tabpanel" aria-labelledby="nav-interruption-tab">
            <h5 class="smart-frame">
              <u>
                やるべきこと件数：<%= @schedule.plans.interruption.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                <u>やるべきこと</u><br>
                錯覚のタスク<br>
                生産性が上がらないため<br>
                他のタスクが減ることはない
              </p>
              <div class="scroll-box">
                <ul class="list-group">
                  <% @schedule.plans.interruption.each do |interruption| %>
                    <li class="list-group-item d-flex align-items-center">
                      <%= interruption.challenge %>
                      <span class="badge badge-warning badge-pill strip-text ml-auto mr-3"><%= interruption.progress_status_i18n %></span>
                      <%= link_to "削除する", schedule_plan_path(@schedule,interruption.id), method: :delete, class: "strip-text badge badge-danger badge-pill" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <!--辞めることのタブ-->
          <div class="tab-pane fade" id="nav-eliminate" role="tabpanel" aria-labelledby="nav-eliminate-tab">
            <h5 class="smart-frame">
              <u>
                辞めること：<%= @schedule.plans.eliminate.count %>
              </u>
            </h5>
            <div class="cross-frame font-weight-bold">
              <p>
                <u>辞めるべきこと</u><br>
                浪費・過剰のタスク<br>
                時間の無駄遣いといえる活動です<br>
                <u>行わないことを大事にしてください</u>
              </p>
              <div class="scroll-box">
                <ul class="list-group list-group-flush">
                  <% @schedule.plans.eliminate.each do |eliminate| %>
                    <li class="list-group-item d-flex align-items-center">
                      <%= eliminate.challenge %>
                      <span class="badge badge-danger badge-pill strip-text ml-auto mr-3"><%= eliminate.progress_status_i18n %></span>
                      <%= link_to "削除する", schedule_plan_path(@schedule,eliminate.id), method: :delete, class: "strip-text badge badge-danger badge-pill" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

        </div>

      <% end %>
      <div class="d-flex justify-content-around my-3">
        <%= link_to "予定を編集", edit_schedule_path(@schedule.id), class: "btn btn-secondary" %>
        <%= link_to "予定を削除", schedule_path(@schedule.id),method: :delete,"data-confirm" =>"削除して本当にいいですか？",class: "btn btn-warning" %>
        <%= link_to "カレンダーへ", schedules_path, class: "btn btn-info" %>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column">

      <% if params[:error] %>

      <!--planの作成に失敗した場合-->
        <div class="masking-tape pt-3 m-4">
          <p>
            提案の作成に失敗しました
          </p>
          <p>
            予定を達成するためにするべきことを<br>
            教えてください
          </p>
          <p>
            それは些細なことでも<br>
            簡単なことでも構いません
          </p>
        </div>

      <% else %>

        <!--ページに訪れた際に表示-->
        <h5 class="smart-frame mb-5">
          <u>
            予定を達成するために<br>
            するべきことを教えてください
          </u>
        </h5>

      <% end %>
      <%= form_with model: [@schedule,@plan], url: schedule_plans_path(@schedule.id), method: :post do |f| %>
        <div class="form-inline justify-content-center">
          <%= f.text_field :challenge, class: "form-control" %>
          <%= f.submit "提案する", class: "btn btn-secondary btn-sm" %>
        </div>
      <% end %>
      <% if @schedule.plans.memo.present? %>

        <!--提案が作成されている場合-->
        <h5 class="smart-frame my-4">
          <u>
            提案件数：<%= @schedule.plans.memo.count %>
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">
          <!--スクロール機能-->
          <div class="scroll-page">
            <% @schedule.plans.memo.each do |plan| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <p>
                    <%= plan.challenge %>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-around">
                  <%= link_to "リストにする", upload_schedule_plan_path(@schedule,plan), method: :patch, class: "btn btn-outline-success" %>
                  <%= link_to "破棄する", schedule_plan_path(@schedule,plan), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <%= link_to "全てリストに保存する", bulk_upload_schedule_plans_path(@schedule.id), method: :patch, class: "btn btn-success"  %>
          <%= link_to "全て破棄する", bulk_destroy_schedule_plans_path(@schedule.id), method: :delete, class: "btn btn-danger" %>
        </div>

      <% end %>
    </div>

  </div>
</div>