<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          予定詳細
        </u>
      </h5>
      <div class="card">
        <div class="card-header">
          <%= @schedule.problem.commitment %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @schedule.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <% if @schedule.is_all_day == false %>
              <%= @schedule.start_date.strftime("%Y年%-m月%-d日") %><%= @schedule.start_time.strftime("%-H時%M分") %><br>
              〜<br>
              <%= @schedule.end_date.strftime("%Y年%-m月%-d日") %><%= @schedule.end_time.strftime("%-H時%M分") %>
            <% elsif @schedule.is_all_day == true %>
              <p>終日</p>
              <%= @schedule.start_date.strftime("%Y年%-m月%-d日") %>　〜　<%= @schedule.end_date.strftime("%Y年%-m月%-d日") %>
            <% end %>
          </h6>
          <p class="card-text">
            <%= safe_join(@schedule.body.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>

      <% if @schedule.plans.programme.present? %>
        <h5>ToDoリスト</h5>
        <p>リスト件数：<%= @schedule.plans.count %></p>

        <!--タブ表示機能-->
        <nav>
          <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-commentary-tab" data-toggle="tab" href="#nav-commentary" role="tab" aria-controls="nav-commentary" aria-selected="true">使い方</a>
            <a class="nav-item nav-link" id="nav-programme-tab" data-toggle="tab" href="#nav-programme" role="tab" aria-controls="nav-programme" aria-selected="false">全て</a>
            <a class="nav-item nav-link" id="nav-emergency-tab" data-toggle="tab" href="#nav-emergency" role="tab" aria-controls="nav-emergency" aria-selected="false">大事なこと</a>
            <a class="nav-item nav-link" id="nav-important-tab" data-toggle="tab" href="#nav-important" role="tab" aria-controls="nav-important" aria-selected="false">重要なこと</a>
            <a class="nav-item nav-link" id="nav-mission-tab" data-toggle="tab" href="#nav-mission" role="tab" aria-controls="nav-mission" aria-selected="false">やるべきこと</a>
            <a class="nav-item nav-link" id="nav-eliminate-tab" data-toggle="tab" href="#nav-eliminate" role="tab" aria-controls="nav-eliminate" aria-selected="false">辞めること</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

          <!--大事なことのタブ-->
          <div class="tab-pane fade show" id="nav-commentary" role="tabpanel" aria-labelledby="nav-commentary-tab">
            <div class="smart-content text-center font-weight-bold">
              <h3>ToDoリストの使い方</h3>
            </div>
            <div class="cross-frame font-weight-bold">
              <p>全てには全てのタスクが入っています</p>
              <p>
                ステータスを変更して重要度を変更してください<br>
                大事なこと ： <u>緊急性の高く重要性の高いタスクです</u><br>
                重要なこと : <u>重要性の高いタスクです</u><br>
                やるべきこと : <u>重要性は低いですが、行う必要のあるタスクです</u><br>
                辞めるべきこと : <u>辞めることで達成するタスクです</u>
              </p>
              <p>
                選択する項目には進捗を表してます
              </p>
              <p>
                進捗を選択して達成状況を更新してください<br>
                未完了 : 未だ行動を起こしていないタスクです<br>
                完了 : 達成したタスクです<br>
                進行中 : 現在取り組んでいるタスクです<br>
                先送り : 後で行う予定にしているタスクです<br>
                辞める : 取り組まないタスクです
              </p>
              <p>
                タスクを全て完了、もしくは辞めるにして<br>
                予定を完遂できるようにしましょう
              </p>
            </div>
          </div>

          <!--全て表示するタブ-->
          <div class="tab-pane fade" id="nav-programme" role="tabpanel" aria-labelledby="nav-programme-tab">
            <%= form_with model: [@schedule,@plan],url: all_update_schedule_plans_path(@schedule), method: :patch do |f| %>
              <% @schedule.plans.programme.each do |programme| %>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                      <%= f.collection_select(:priority_status, @schedule.plans, 0..3, :priority_status ) %>
                    </div>
                    <p>
                      <%= programme.challenge %>
                    </p>
                    <div>
                      <div class="form-check form-check-inline">
                        <%= f.radio_button :progress_status, 0, class: "form-check-input"  %>
                        <%= f.label :progress_status_unstarted, Plan.progress_status_i18n[:unstarted], class: "form-check-label" %>
                      </div>
                      <div class="form-check form-check-inline">
                        <%= f.radio_button :progress_status, 1, class: "form-check-input"  %>
                        <%= f.label :progress_status_finish, Plan.progress_status_i18n[:finish], class: "form-check-label" %>
                      </div>
                      <div class="form-check form-check-inline">
                        <%= f.radio_button :progress_status, 2, class: "form-check-input"  %>
                        <%= f.label :progress_status_process, Plan.progress_status_i18n[:process], class: "form-check-label" %>
                      </div>
                      <div class="form-check form-check-inline">
                        <%= f.radio_button :progress_status, 3, class: "form-check-input"  %>
                        <%= f.label :progress_status_postpone, Plan.progress_status_i18n[:postpone], class: "form-check-label" %>
                      </div>
                      <div class="form-check form-check-inline">
                        <%= f.radio_button :progress_status, 4, class: "form-check-input"  %>
                        <%= f.label :progress_status_deletion, Plan.progress_status_i18n[:withdraw], class: "form-check-label" %>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
              <%= f.submit "更新する",class: "btn btn-success" %>
            <% end %>
          </div>

          <!--大事なことのタブ-->
          <div class="tab-pane fade" id="nav-emergency" role="tabpanel" aria-labelledby="nav-emergency-tab">
            <p>大事なこと件数：<%= @schedule.plans.emergency.count %></p>
            <% @schedule.plans.emergency.each do |emergency| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= emergency.challenge %>
                  </p>
                  <p>
                    <%= emergency.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(emergency), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>

          <!--重要なことのタブ-->
          <div class="tab-pane fade" id="nav-important" role="tabpanel" aria-labelledby="nav-important-tab">
            <p>重要なこと件数：<%= @schedule.plans.important.count %></p>
            <% @schedule.plans.important.each do |important| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= important.challenge %>
                  </p>
                  <p>
                    <%= important.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(important), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>

          <!--やるべきことのタブ-->
          <div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
            <p>やるべきこと件数：<%= @schedule.plans.mission.count %></p>
            <% @schedule.plans.mission.each do |mission| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= mission.challenge %>
                  </p>
                  <p>
                    <%= mission.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(mission), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>

          <!--辞めることのタブ-->
          <div class="tab-pane fade" id="nav-eliminate" role="tabpanel" aria-labelledby="nav-eliminate-tab">
            <p>辞めること：<%= @schedule.plans.eliminate.count %></p>
            <% @schedule.plans.eliminate.each do |eliminate| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p>
                    <%= eliminate.challenge %>
                  </p>
                  <p>
                    <%= eliminate.progress_status_i18n %>
                  </p>
                  <%= link_to "削除する", schedule_plan_path(eliminate), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>

        </div>
      <% end %>
      <div class="d-flex justify-content-around my-3">
        <%= link_to "予定を編集する", edit_schedule_path(@schedule), class: "btn btn-secondary" %>
        <%= link_to "カレンダーに戻る", schedules_path, class: "btn btn-info" %>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">

      <% unless params[:error] %>
        <h5 class="smart-frame mb-5">
          <u>
            予定を達成するためにするべきことを<br>
            教えてください
          </u>
        </h5>

      <!--planの作成に失敗した場合-->
      <% else %>
        <div class="masking-tape">
          <p>
            提案の作成に失敗しました
          </p>
          <p>
            予定を達成するためにするべきことを<br>
            教えてください
          </p>
          <p>
            それは些細なことでも<br>
            簡単なことでも構いません
          </p>
        </div>

      <% end %>
      <%= form_with model: [@schedule,@plan], url: schedule_plans_path(@schedule), method: :post do |f| %>
        <div class="form-inline">
          <%= f.text_field :challenge, class: "form-control" %>
          <%= f.submit "提案する", class: "btn btn-secondary btn-sm" %>
        </div>
      <% end %>

      <% if @schedule.plans.memo.present? %>
        <h5 class="smart-frame my-4">
          <u>
            提案件数：<%= @plan.missions.count %>
          </u>
        </h5>
        <div class="cross-frame font-weight-bold">

          <!--スクロール機能-->
          <div class="scroll-box">
            <% @schedule.plans.memo.each do |plan| %>
              <ul class="list-group">
                <li class="list-group-item">
                  <p>
                    <%= plan.challenge %>
                  </p>
                </li>
                <li class="list-group-item list-group-horizontal list-group-item-warning">
                  <%= link_to "登録する", upload_schedule_plan_path(@schedule,plan), method: :patch, class: "btn btn-outline-success" %>
                  <%= link_to "削除する", schedule_plan_path(@schedule,plan), method: :delete, class: "btn btn-outline-danger" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-around my-3">
          <%= link_to "全てToDoリストに保存する", bulk_upload_schedule_plans_path(@schedule.id), method: :patch, class: "btn btn-success"  %>
          <%= link_to "メモを全て破棄する", bulk_destroy_schedule_plans_path(@schedule.id), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>

  </div>
</div>