<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <p>
          あなたが思い描く将来の姿には<br>
          あなた自身がいることと思います
        </p>
        <p>
          どんな表情をしていますか<br>
          髪の長さやセットは<br>
          どのようなものですか
        </p>
        <p>
          メイクはどのようなメイクですか<br>
        </p>
        <p>
          体型は標準ですか<br>
          それともモデル体型<br>
          もしくは筋肉質ですか
        </p>
        <p>
          持っている服装や<br>
          着ている服装<br>
          アクセサリーはしていますか
        </p>
        <p>
          思い描く未来の<br>
          想像する未来の<br>
          あなたの姿を教えて下さい
        </p>
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想の姿の作成に失敗しました
          </u>
        </h5>
        <p>
          教えていただいた理想の姿に<br>
          空欄があったみたいです
        </p>
        <p>
          おしゃれというのは<br>
          考え方や行動が変わります<br>
          そして気分や気持ちも変わります
        </p>
        <p>
          理想の姿に近づけていく<br>
          それはあなたにとっての<br>
          全ての原動力の一つとなります
        </p>
        <p>
          価値が高くなくていいんです<br>
          あなたが身に纏うことで<br>
          それは誰にとっても<br>
          価値の高いものになります
        </p>
      <% end %>
      <%= render 'users/keyword_show' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          あなたが思い描く<br>
          理想の姿を教えて下さい
        </u>
      </h5>
      <p>
        ヘアスタイルやメイク<br>
        体型<br>
        ファッション<br>
        ひとつずつで構いません
      </p>
      <p>
        あなたの中にあるイメージを<br>
        そのまま教えて下さい<br>
      </p>
      <p>
        すでに体現している人がいるなら<br>
        その人も教えて下さい
      </p>
      <%= form_with model: @ideal,url: appearance_create_ideals_path, method: :post do |f| %>
        <%= f.hidden_field :ideal_status, :value => 1 %>
        <div class="form-group">
          <%= f.text_area :ideal_self, rows: "5", autofocus: true, class: "form-control" %>
        </div>
        <div class="d-flex justify-content-around my-3">
          <%= f.submit 'もっと記録する', name: 'restart', class: "btn btn-outline-primary" %>
          <%= f.submit "記録して戻る", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>

  </div>
</div>