<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <p>
        あなたにとってのなりたい<br>
        自分とはなんでしょう
      </p>
      <p>
        思い浮かぶ人がいますか<br>
        思い浮かぶ行動がありますか
      </p>
      <p>
        憧れる立ち振る舞いはありますか<br>
        憧れる生き方はありますか
      </p>
      <p>
        そして逆にこうなりたくない<br>
        これだけはしたくないということは<br>
        ありますか
      </p>
      <p>
        キーワードを基に<br>
        理想を探してみましょう
      </p>
      <p>
        だってそれはきっと<br>
        あなたのなかにいるのだから
      </p>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <div class="cross-frame font-weight-bold">
        <ul class="list-group">

          <% if @ideals.present? %>

          <% if @ideals.personality? %>
          <!--理想の性格が作成されている場合-->
            <%= link_to "理想の性格", show_ideal_path(@ideals.ideal_status), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の性格が作成されていない場合-->
            <%= link_to personality_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の性格を<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.appearance? %>
          <!--理想の姿が作成されている場合-->
            <%= link_to "理想の姿", show_ideal_path(@ideals.ideal_status), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の姿が作成されていない場合-->
            <%= link_to appearance_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の姿を<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.lifestyle? %>
          <!--理想のライフスタイルが作成されている場合-->
            <%= link_to "理想のライフスタイル", show_ideal_path(@ideals.ideal_status), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想のライフスタイルが作成されていない場合-->
            <%= link_to lifestyle_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のライフスタイルを想像する
            <% end %>
          <% end %>

          <% if @ideals.spend_time? %>
          <!--理想の時間の使い方が作成されている場合-->
            <%= link_to "理想の時間の使い方", show_ideal_path(@ideals.ideal_status), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の時間の使い方が作成されていない場合-->
            <%= link_to spend_time_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の時間の使い方を<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.working? %>
          <!--理想の働き方が作成されている場合-->
            <%= link_to "理想の働き方", show_ideal_path(@ideals.ideal_status), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の働き方が作成されていない場合-->
            <%= link_to working_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の働き方を<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.residence? %>
          <!--理想の住まいが作成されている場合-->
            <%= link_to "理想の住まい", show_ideal_path(@ideals.ideal_status(5)), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の住まいが作成されていない場合-->
            <%= link_to residence_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の住まいを<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.relationship? %>
          <!--理想の人間関係が作成されている場合-->
            <%= link_to "理想の人間関係", show_ideal_path(@ideals.ideal_status(6)), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想の人間関係が作成されていない場合-->
            <%= link_to relationship_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の人間関係を<br>想像する
            <% end %>
          <% end %>

          <% if @ideals.partner? %>
          <!--理想のパートナーが作成されている場合-->
            <%= link_to "理想のパートナー", show_ideal_path(@ideals.ideal_status(7)), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想のパートナーが作成されていない場合-->
            <%= link_to partner_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のパートナーを想像する
            <% end %>
          <% end %>

          <% if @ideals.role_model? %>
          <!--理想のロールモデルが作成されている場合-->
            <%= link_to "理想のロールモデル", show_ideal_path(@ideals.ideal_status(8)), class: "list-group-item list-group-item-action list-group-item-success" %>

          <% else %>
          <!--理想のロールモデルが作成されていない場合-->
            <%= link_to role_model_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のロールモデルを想像する
            <% end %>
          <% end %>
          <% else %>
          
            <%= link_to personality_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の性格を想像する
            <% end %>
            <%= link_to appearance_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の姿を想像する
            <% end %>
            <%= link_to lifestyle_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のライフスタイルを想像する
            <% end %>
            <%= link_to spend_time_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の時間の使い方を想像する
            <% end %>
            <%= link_to working_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の働き方を想像する
            <% end %>
            <%= link_to residence_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の住まいを想像する
            <% end %>
            <%= link_to relationship_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想の人間関係を想像する
            <% end %>
            <%= link_to partner_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のパートナーを想像する
            <% end %>
            <%= link_to role_model_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" do %>
              理想のロールモデルを想像する
            <% end %>

          <% end %>

        </ul>
      </div>
    </div>

  </div>
</div>