<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <% unless params[:error] %>
        <p>
          なりたい人<br>
          憧れる人<br>
          こういう人になりたい<br>
          こういうことができる人になりたい
        </p>
        <p>
          そういったことを<br>
          考えたことはありませんか
        </p>
        <p>
          その人はどういった性格をしていて<br>
          どういった行動をすることができて<br>
          あなたを憧れさせたのでしょうか
        </p>
        <p>
          あなたはあなた自身です<br>
          あなたはその人になることはできません
        </p>
        <p>
          ですが<br>
          その人のようになることはできます
        </p>
        <p>
          人は変わることができるんです<br>
          悩むことはありません
        </p>
      <% else %>
        <h5 class="smart-frame bg-warning">
          <u>
            理想の性格の作成に失敗しました
          </u>
        </h5>
        <p>
          教えていただいた理想の性格に<br>
          空欄があったみたいです
        </p>
        <p>
          あなたにとっての<br>
          かっこいい行動はなんでしょう<br>
          かわいいと思う行動はなんでしょう
        </p>
        <p>
          性格は考え方に表れます<br>
          性格は行動に見えます<br>
          性格は言動に映ります
        </p>
        <p>
          つまりは<br>
          なりたいと思う人の<br>
          一挙手一投足<br>
          行動の全てがそれなんです
        </p>
      <% end %>
      <%= render 'users/keyword_show' %>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          あなたがなりたいと思う<br>
          理想の性格を教えてください
        </u>
      </h5>
      <p>
        どうしてその性格になりたいのか<br>
        その理由も教えて下さい
      </p>
      <p>
        理由を知ることで</br>
        どうしてそう思ったのか<br>
        どうしてそうなりたいのか
      </p>
      <p>詳しく理解することができます</p>
      <%= form_with model: @ideal,url: personality_create_ideals_path, method: :post do |f| %>
        <%= f.hidden_field :ideal_status, :value => 0 %>
        <div class="form-group">
          <%= f.text_area :ideal_self, rows: "5", autofocus: true, class: "form-control" %>
        </div>
        <div class="d-flex justify-content-around my-3">
          <%= f.submit 'もっと記録する', name: 'restart', class: "btn btn-outline-primary" %>
          <%= f.submit "記録して戻る", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>

  </div>
</div>