<div class="container-fluid">
  <div class="row justify-content-center open-book my-4 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 p-5">
      <p>
        あなたにとって<br>
        大事にしていること<br>
        理想の自分の姿
      </p>
      <p>
        何度でも見返して<br>
        まるで現実のように思えるぐらい<br>
        明確に想像してください
      </p>
      <p>
        いつしか<br>
        想像は現実に<br>
        取って代わっていきます
      </p>
      <div class="cross-frame font-weight-bold">
        <ul class="list-group">
          <%= link_to "理想の性格を想像する", personality_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想の姿を想像する", appearance_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想のライフスタイルを想像する", lifestyle_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想の時間の使い方を想像する", spend_time_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想の働き方を想像する", working_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想の住まいを想像する", residence_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想の人間関係を想像する", relationship_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想のパートナーを想像する", partner_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary" %>
          <%= link_to "理想のロールモデルを想像する", role_model_new_ideals_path, class: "list-group-item list-group-item-action list-group-item-primary"  %>
          <%= link_to "理想の一覧画面に戻る", ideals_path, class: "list-group-item list-group-item-action list-group-item-info" %>
        </ul>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page col text-center m-5 p-5">
      <h5 class="smart-frame">
        <u>
          <%= @ideal_name.ideal_status_i18n %>
        </u>
      </h5>
      <div class="scroll-page">
        <% @ideals.each do |ideal| %>
          <div class="cross-frame font-weight-bold">
            <h5 class="smart-frame">
              <u>
                <%= safe_join(ideal.ideal_self.split("\n"),tag(:br)) %>
              </u>
            </h5>
            <p>
              <%= safe_join(ideal.ideal_detail_self.split("\n"),tag(:br)) %>
            </p>
            <%= link_to "この記録を消す", ideal_path(ideal.id), method: :delete,"data-confirm" =>"このモチベーションの記録を\n本当に消しますか？",  class: "btn btn-sm btn-danger mb-3" %>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center my-5">
        <%= paginate @ideals %>
      </div>
    </div>
  </div>
</div>