<div class="container-fluid">
  <div class="row justify-content-center open-book my-5 py-3">

    <!--左のページ-->
    <div class="left-page col text-center m-5 py-5 pl-5 d-flex flex-column justify-content-center">
      <p>
        あなたにとって大事にしていること<br>
        理想の自分の未来
      </p>
      <p>
        何度でも見返して<br>
        まるで現実のように思えるぐらい<br>
        明確に想像してください
      </p>
      <p>
        スクラップブックに理想を叶えた写真を<br>
        貼り付けるのもいいと思います<br>
        しっかりと目に見え<br>
        想像しやすくなると思います
      </p>
      <p>
        そしていつしか<br>
        想像は現実に取って代わっていきます
      </p>
      <div class="d-flex justify-content-around mt-5">
        <% if params[:personality] %>

          <!--理想の性格を閲覧している場合-->
          <%= link_to "理想の性格を想像", personality_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:appearance] %>

          <!--理想の姿を閲覧している場合-->
          <%= link_to "理想の姿を想像", appearance_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:lifestyle] %>

          <!--理想のライフスタイルを閲覧している場合-->
          <%= link_to "理想のライフスタイルを想像", lifestyle_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:spend_time] %>

          <!--理想の時間の使い方を閲覧している場合-->
          <%= link_to "理想の時間の使い方を想像", spend_time_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:working] %>

          <!--理想の働き方を閲覧している場合-->
          <%= link_to "理想の働き方を想像", working_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:residence] %>

          <!--理想の住まいを閲覧している場合-->
          <%= link_to "理想の住まいを想像", residence_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:relationship] %>

          <!--理想の人間関係を閲覧している場合-->
          <%= link_to "理想の人間関係を想像", relationship_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:partner] %>

          <!--理想のパートナーを閲覧している場合-->
          <%= link_to "理想のパートナーを想像", partner_new_ideals_path, class: "btn btn-outline-primary" %>

        <% elsif params[:role_model] %>

          <!--理想のロールモデルを閲覧している場合-->
          <%= link_to "理想のロールモデルを想像", role_model_new_ideals_path, class: "btn btn-outline-primary"%>

        <% end %>
        <%= link_to "一覧画面に戻る", ideals_path, class: "btn btn-outline-info" %>
      </div>
    </div>

    <!--右のページ-->
    <div class="right-page text-center col m-5 py-5 pr-5 d-flex flex-column justify-content-center">
      <h5 class="smart-frame">
        <u>
          <%= @ideal_name.ideal_status_i18n %>
        </u>
      </h5>
      <div class="scroll-style">
        <% @ideals.each do |ideal| %>
          <div class="cross-frame font-weight-bold">
            <h5 class="smart-frame">
              <u>
                <%= safe_join(ideal.ideal_self.split("\n"),tag(:br)) %>
              </u>
            </h5>
            <p>
              <%= safe_join(ideal.ideal_detail_self.split("\n"),tag(:br)) %>
            </p>
            <%= link_to "この記録を消す", ideal_path(ideal.id), method: :delete, "data-confirm" =>"このモチベーションの記録を\n本当に消しますか？",  class: "btn btn-sm btn-danger mb-3" %>
          </div>
        <% end %>
      </div>
      <%= paginate @ideals %>
    </div>
  </div>
</div>